{% extends '../base.html' %}
{% load static %}

{% block title %}Sick-Series{% endblock %}

{% block content %}

<script>
    var valid_email = false
</script>

<div id="landing" class="sticky">
    <div id="first_slice">
        <div id="lefty" class="pc_only">
            <p>Join The Crew</p>
            <button>ALL PRODUCTS</button>
        </div>
        <h1>SICK</h1>
        <div id="mirror" class="first_slice">
            {% if mobile %}
                <img src="{% static 'img/wallpapers/firstwallpaper_mobile.webp' %}" id="wallpaper">
            {% else %}
                <img src="{% static 'img/wallpapers/firstwallpaper_pc.webp' %}" id="wallpaper">
            {% endif %}
            <div id="scroll_frame">
                <div id="fade" class="mobile_only"></div>
                <div id="products" class="merge">
                    {% for product in products %}
                    <div id="click_event" onclick="portalevent({{ product.id }})">
                            <div id="shade">
                                <div id="child_shade">
                                    <div id="product">
                                        <div id="images" class="image_skeleton">
                                            <div id="skeleton_anim"></div>
                                            {% for image in product.product_images.all %}
                                                <img src="" data-src="{{ image.image.url }}">
                                            {% endfor %}
                                        </div>
                                        
                                        <h2>
                                            <div class="name_skeleton"></div>
                                            <div id="skeleton_anim"></div>
                                            <p>{{ product.name }}</p>
                                        </h2>
                                        <h3>
                                            <div class="price_skeleton"></div>
                                            <div id="skeleton_anim"></div>
                                            <p>{{ product.price }}</p>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endfor %}

                    
        
                    <div id="shade" class="wide">
                        <p>THAT IS NOT IT!</p>
                        <a href="">
                            <button>MORE MERCHES</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div id="second_slice">
        <h1>SERIES</h1>
        <div id="scroll" class="pc_only">
            <p>SCROLL</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
                <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
                <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
            </svg>              
        </div>   
        <div id="mirror">
            <img src="{% static 'img/wallpapers/secondwallpaper.webp' %}">
        </div>   
    </div>
    <div id="scroll" class="mobile_only">
        <p>SCROLL</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
            <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
            <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
            <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            </g>
        </svg>              
    </div>  
</div>
<div id="fake"></div>

<div id="giveaway" class="section">
    <div id="header">
        <div>
            <div id="timer">
                <div id="day" class="box" title="Hour">48</div>
                <span>:</span>
                <div id="hour" class="box" title="Hour">48</div>
                <span>:</span>
                <div id="min" class="box" title="Minutes">24</div>
                <span>:</span>
                <div id="sec" class="box" title="Seconds">2</div>
            </div>
            <div id="flex">
                <h1>GIVEAWAY</h1>
                <p>
                    WIN a Canyon x Fabio Wibmer Torque Guardian Angel replica bike! Have you always wanted a new MTB from Canyon? 💯
                </p>
            </div>
        </div>
        
        
    </div>
    <div id="image">   
        <div id="skeleton_anim"></div>
        <img src="" data-src="{% static 'img/giveaway/giveaway.jpg' %}">
    </div>
    <div id="extra">
        <h2>How to enter</h2>
        <ul>
            <li><div id="flex"><div id="liststyle"></div>Follow @canyon and @wibmerfabio on Instagram</div></li>
            <li><div id="flex"><div id="liststyle"></div>Go to this post</div>
                <ul>
                    <li><div id="liststyle"></div>Comment on the post</li>
                    <li><div id="liststyle"></div>Tag 2 friends in the comments - One comment is equal to one entry</li>
                    <li><div id="liststyle"></div>For bonus entry, share the post in your story!</li>
                </ul>
            </li>
        </ul>
        <h2>What you can WIN</h2>
        <p> 🚵 Canyon Torque 27.5 Size Medium
            🔥 SICK x Canyon Guardian Angel Sticker Kit
            
            The winner will be contacted via Instagram DM directly by us after the giveaway has ended.
            Do not reply or answer to any accounts which are not officially from us. Please report scams and fake accounts. Do not give your credit card or financial information to anyone....
            
            ➡️ Giveaway ends on Sunday 30th of July, 12:00AM CET.
            ➡️ Find the T&C’s in Canyon’s link in bio. Giveaway bike will come with Pirelli Scorpions and a single crown fork.</p>
    </div>

    <button onclick="giveawayDetails()">
        I WANT TO KNOW MORE
        <svg xmlns="http://www.w3.org/2000/svg" width="11.22" height="6.11" viewBox="0 0 11.22 6.11">
            <path id="Path_7" data-name="Path 7" d="M1031.509,8689l4.9,4.9,4.9-4.9" transform="translate(-1030.802 -8688.293)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
          </svg>          
    </button>
</div>

<div id="mini_about" class="section">
    
    <h1>MORE THAN JUST A BRAND - IT'S A LIFE STYLE
    </h1>
    
    <p>[SICK!] Contrary to the real meaning of the word, SICK is a compliment.Especially in sports, the word is often used to describe something cool or badass.</p>
    <div id="image" align="right">
        <img src="{% static 'img/wallpapers/group.webp' %}" alt="">
    </div>
    
    
</div>

<div id="youtube" class="section">
    <img src="{% static 'img/logo/youtube.png' %}" alt="Youtube.com" id="youtube_logo">
    <div id="flex">
        <div id="sick_youtube">
            <img src="{% static 'img/logo/sick.jpg' %}" alt="Sick Series">
            <div>
                <h2>SICK!</h2>
                <p>@sickworldwide - 128 videos</p>
                <div class="subscriber">{{ subs }} <span>subscribers</span></div>
            </div>
        </div>
        <div>
        <div id="views"><p>{{ views }} views</p></div>
        <a href="" id="main_link">CHECK OUT CHANNEL / VIDEOS</a>
    </div>
    </div>
    <div id="big_wallpaper">
        <img src="{% static 'img/wallpapers/youtube.webp' %}" alt="">
    </div>
</div>

<div id="lookbooks" class="section">
    <div id="flex">
        <h1>LOOK BOOK</h1>
        <p>Unleash Your Freeride Adventure</p>
        <div id="tabs" class="mobile_only">
            <ul>
                {% for lookbook in lookbooks %}
                    <li{% if forloop.first %} class="active"{% endif %}><div id="liststyle"></div><p>{{ lookbook.name }}</p></li>
                {% endfor %}       
            </ul>
            <button>SHOW ALL</button>
        </div>
    </div>
    <div id="background">
        <div id="tabs" class="pc_only">
            <ul>
                {% for lookbook in lookbooks %}
                    <li {% if forloop.first %}class="active"{% endif %}><div id="shaderLeft"></div><div id="liststyle"></div><p>{{ lookbook.name }}</p><div id="shader"></div></li>
                {% endfor %}       
            </ul>
            <button>SHOW ALL</button>
            <p id="date">
                März 31, 2023
            </p>
        </div>
        <div id="parent_container">
            <div id="container">
                <div id="bigGrid">
                    <div id="image" class="landscape">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.0 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image" class="extra">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.1 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image" class="extra">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.2 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                </div>
                <div id="rest">
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.3 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.2 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.1 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="action">
                        <p>DETAILS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for lookbook in lookbooks %}
    {% if not forloop.last %}
        <div class="fake_lookbook"></div>
    {% endif %}
{% endfor %}
<div id="log"></div>

<div id="newsletter" class="section">
    <div id="content">
        <p>Be part of the exclusive Sick Members Club and receive regular updates on releases, products and backstage reports!</p>
        <div id="email" class="border-box">
            <input type="text" id="email_input" placeholder = "EMAIL">
        </div>
        <button id="email_submit" disabled>SIGN UP</button>
    </div>
</div>

<div id="footer" class="section">
    <div id="flex">
        <div id="btt" onclick="backtotop()">
            <svg xmlns="http://www.w3.org/2000/svg" width="264.995" height="45.954" viewBox="0 0 264.995 45.954">
                <g id="Group_7" data-name="Group 7" transform="translate(150.495 -3844.086)">
                <g id="Rectangle_69" data-name="Rectangle 69" transform="translate(111.085 3888.598) rotate(-163)" fill="#100303" stroke="#100303" stroke-width="1">
                    <path d="M4.048,0H123.1a0,0,0,0,1,0,0V7.286a0,0,0,0,1,0,0H3.238A3.238,3.238,0,0,1,0,4.048v0A4.048,4.048,0,0,1,4.048,0Z" stroke="none"/>
                    <path d="M4.036.5H122.6a0,0,0,0,1,0,0V6.786a0,0,0,0,1,0,0H3.25A2.75,2.75,0,0,1,.5,4.036v0A3.536,3.536,0,0,1,4.036.5Z" fill="none"/>
                </g>
                <g id="Rectangle_72" data-name="Rectangle 72" transform="translate(-148.916 3881.63) rotate(-17)" fill="#100303" stroke="#100303" stroke-width="1">
                    <path d="M3.974,0H123.1a0,0,0,0,1,0,0V7.287a0,0,0,0,1,0,0H3.312A3.312,3.312,0,0,1,0,3.974v0A3.974,3.974,0,0,1,3.974,0Z" stroke="none"/>
                    <path d="M3.958.5H122.6a0,0,0,0,1,0,0V6.787a0,0,0,0,1,0,0H3.329A2.829,2.829,0,0,1,.5,3.958v0A3.458,3.458,0,0,1,3.958.5Z" fill="none"/>
                </g>
                <g id="Rectangle_70" data-name="Rectangle 70" transform="translate(-31.656 3845.62)" fill="#100303" stroke="#100303" stroke-width="1">
                    <rect width="27.228" height="7.286" stroke="none"/>
                    <rect x="0.5" y="0.5" width="26.228" height="6.286" fill="none"/>
                </g>
                <rect id="Rectangle_71" data-name="Rectangle 71" width="9.204" height="24.927" rx="4" transform="translate(-22.453 3844.086)" fill="#1a1515"/>
                <rect id="Rectangle_73" data-name="Rectangle 73" width="31.789" height="8.82" rx="3" transform="translate(111.921 3889.656) rotate(-163)" fill="#1e1616"/>
                <rect id="Rectangle_74" data-name="Rectangle 74" width="31.789" height="8.821" rx="3" transform="translate(-150.495 3881.605) rotate(-17)" fill="#1e1616"/>
                </g>
            </svg>
            <p>Bike Back To The Top</p>
            <div id="bttBackground"></div>
        </div>
        <div id="links">
            <ul>
                <li>Contact</li>
                <li>Fit Finder</li>
                <li>Shipping And Returns</li>
                <li>About This Website</li>
                <li>Terms And Conditions</li>
                <li>Privacy</li>
            </ul>
        </div>
        <div id="social">
            <a href=""><img src="{% static 'img/icon/social/instagram.png' %}" alt=""><p>@sick_series</p></a>
            <a href=""><img src="{% static 'img/icon/social/facebook.png' %}" alt=""><p>@sickseries</p></a>
            <a href=""><img src="{% static 'img/icon/social/youtube.png' %}" alt=""><p>@SICK!</p></a>
            <a href=""><img src="{% static 'img/icon/social/vimeo.png' %}" alt=""><p>CLICK TO CHECK OUT MOVIES</p></a>
        </div>
    </div>
    <p id="copyright">© 2023 Sick Series</p>
</div>

<script>
    const days = document.querySelector('#giveaway #timer #day')
    const hr = document.querySelector('#giveaway #timer #hour')
    const min = document.querySelector('#giveaway #timer #min')
    const sec = document.querySelector('#giveaway #timer #sec')

    var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        day.innerHTML = days
        hr.innerHTML = hours
        min.innerHTML = minutes
        sec.innerHTML = seconds
            
       
    }, 1000);
</script>

{% endblock %}