{% extends '../base.html' %}
{% load static %}
{% load sorl_thumbnail %}

{% block title %}Sick-Series{% endblock %}

{% block body_child %}

<div id="loading_animation">
    <div id="first_time_notice">
        <p>Your initial visit may experience a slightly longer loading time than subsequent visits, which will be significantly faster.</p>
    </div>
    <div id="content">
        <img src="{% static 'img/main_logo.webp' %}">
        <p>LOADING</p>
    </div>
</div>

{% endblock %}

{% block content %}

<script>
    var valid_email = false
    var narrow = false
</script>

<div id="landing" class="sticky section">
    <div id="first_slice">
        <div id="lefty" class="pc_only">
            <div id="grid_type" class="pc_only">
                <div id="normal" onclick='grid_type()'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <g id="Group_17" data-name="Group 17" transform="translate(-278 -130)">
                          <g id="Rectangle_172" data-name="Rectangle 172" transform="translate(278 130)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="9" rx="3" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                          </g>
                          <g id="Rectangle_173" data-name="Rectangle 173" transform="translate(278 141)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="9" rx="3" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                          </g>
                          <g id="Rectangle_174" data-name="Rectangle 174" transform="translate(289 141)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="9" rx="3" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                          </g>
                          <g id="Rectangle_175" data-name="Rectangle 175" transform="translate(289 130)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="9" rx="3" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                          </g>
                          <g id="Ellipse_15" data-name="Ellipse 15" transform="translate(282 134)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                            <circle cx="0.5" cy="0.5" fill="none"/>
                          </g>
                          <g id="Ellipse_16" data-name="Ellipse 16" transform="translate(293 134)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                            <circle cx="0.5" cy="0.5" fill="none"/>
                          </g>
                          <g id="Ellipse_17" data-name="Ellipse 17" transform="translate(282 145)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                            <circle cx="0.5" cy="0.5" fill="none"/>
                          </g>
                          <g id="Ellipse_18" data-name="Ellipse 18" transform="translate(293 145)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                            <circle cx="0.5" cy="0.5" fill="none"/>
                          </g>
                        </g>
                      </svg>
                      
                </div>
                <div id="narrow" onclick='grid_type()'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <g id="Group_18" data-name="Group 18" transform="translate(-278 -157)">
                          <g id="Rectangle_176" data-name="Rectangle 176" transform="translate(278 157)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="20" rx="4" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="17" rx="2.5" fill="none"/>
                          </g>
                          <g id="Rectangle_179" data-name="Rectangle 179" transform="translate(289 157)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                            <rect width="9" height="20" rx="4" stroke="none"/>
                            <rect x="1.5" y="1.5" width="6" height="17" rx="2.5" fill="none"/>
                          </g>
                          <g id="Rectangle_180" data-name="Rectangle 180" transform="translate(282 163)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <rect width="1" height="8" rx="0.5" stroke="none"/>
                            <rect x="0.5" y="0.5" height="7" fill="none"/>
                          </g>
                          <g id="Rectangle_181" data-name="Rectangle 181" transform="translate(293 163)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                            <rect width="1" height="8" rx="0.5" stroke="none"/>
                            <rect x="0.5" y="0.5" height="7" fill="none"/>
                          </g>
                        </g>
                      </svg>                      
                </div>
            </div>
            <p>Join The Crew</p>
            <button>ALL PRODUCTS</button>
        </div>
        <h1>SICK</h1>
        <div id="mirror" class="first_slice">
            {% if mobile %}
                <img src="{% static 'img/wallpapers/firstwallpaper_mobile.webp' %}" id="wallpaper">
            {% else %}
                <img src="{% static 'img/wallpapers/firstwallpaper_pc.webp' %}" id="wallpaper">
            {% endif %}
            <div id="scroll_frame">
                <div id="fade" class="mobile_only"></div>
                <div id="products" class="">
                    {% for product in products %}
                    <div id="click_event" onclick="portalevent({{ product.id }})">
                            <div id="shade">
                                <div id="child_shade">
                                    <div id="product">
                                        <div id="images" class="image_skeleton">
                                            <div id="skeleton_anim"></div>
                                            {% for image in product.product_images.all %}
                                            {% thumbnail image.image "350" crop="center" as im %}
                                                <img src="" data-src="{{ im.url }}">
                                            {% endthumbnail %}
                                            {% endfor %}
                                        </div>
                                            <div id="text">
                                                <h2>
                                                    <div class="name_skeleton"></div>
                                                    <div id="skeleton_anim"></div>
                                                    <p>{{ product.name }}</p>
                                                </h2>
                                                <h3>
                                                    <div class="price_skeleton"></div>
                                                    <div id="skeleton_anim"></div>
                                                    <p>{{ product.price }} £</p>
                                                </h3>
                                            </div>
                                            <div id="buttons">
                                                <button>ADD TO CART</button>
                                                <button>ORDER</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                    {% for product in extra_products %}
                    <div id="click_event" onclick="portalevent({{ product.id }})" class="extra">
                            <div id="shade">
                                <div id="child_shade">
                                    <div id="product">
                                        <div id="images" class="image_skeleton">
                                            <div id="skeleton_anim"></div>
                                            {% for image in product.product_images.all %}
                                            {% thumbnail image.image "350" crop="center" as im %}
                                                <img src="" data-src="{{ im.url }}">
                                            {% endthumbnail %}
                                            {% endfor %}
                                        </div>
                                            <div id="text">
                                                <h2>
                                                    <div class="name_skeleton"></div>
                                                    <div id="skeleton_anim"></div>
                                                    <p>{{ product.name }}</p>
                                                </h2>
                                                <h3>
                                                    <div class="price_skeleton"></div>
                                                    <div id="skeleton_anim"></div>
                                                    <p>{{ product.price }} £</p>
                                                </h3>
                                            </div>
                                            <div id="buttons">
                                                <button>ADD TO CART</button>
                                                <button>ORDER</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                    
        
                    <div id="shade" class="wide">
                        <p>THAT IS NOT IT!</p>
                        <a href="/products">
                            <button>MORE MERCHES</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div id="second_slice">
        <h1>SERIES</h1>
        <div id="scroll" class="pc_only">
            <p>SCROLL</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
                <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
                <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
            </svg>              
        </div>   
        <div id="mirror">
            <img src="{% static 'img/wallpapers/secondwallpaper.webp' %}">
        </div>   
    </div>
    <div id="scroll" class="mobile_only">
        <p>SCROLL</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
            <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
            <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
            <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            </g>
        </svg>              
    </div>  
</div>
<div id="fake"></div>

<div id="giveaway" class="section">
    <div id="header">
        <div>
            <div id="timer">
                <div id="day" class="box" title="Hour">48</div>
                <span>:</span>
                <div id="hour" class="box" title="Hour">48</div>
                <span>:</span>
                <div id="min" class="box" title="Minutes">24</div>
                <span>:</span>
                <div id="sec" class="box" title="Seconds">2</div>
            </div>
            <div id="flex">
                <h1>GIVEAWAY</h1>
                <p>
                    WIN a Canyon x Fabio Wibmer Torque Guardian Angel replica bike! Have you always wanted a new MTB from Canyon? 💯
                </p>
            </div>
        </div>
        
        
    </div>
    <div id="image">   
        <div id="skeleton_anim"></div>
        <img src="" data-src="{% static 'img/giveaway/giveaway.jpg' %}">
    </div>
    <div id="extra">
        <h2>How to enter</h2>
        <ul>
            <li><div id="flex"><div id="liststyle"></div>Follow @canyon and @wibmerfabio on Instagram</div></li>
            <li><div id="flex"><div id="liststyle"></div>Go to this post</div>
                <ul>
                    <li><div id="liststyle"></div>Comment on the post</li>
                    <li><div id="liststyle"></div>Tag 2 friends in the comments - One comment is equal to one entry</li>
                    <li><div id="liststyle"></div>For bonus entry, share the post in your story!</li>
                </ul>
            </li>
        </ul>
        <h2>What you can WIN</h2>
        <p> 🚵 Canyon Torque 27.5 Size Medium
            🔥 SICK x Canyon Guardian Angel Sticker Kit
            
            The winner will be contacted via Instagram DM directly by us after the giveaway has ended.
            Do not reply or answer to any accounts which are not officially from us. Please report scams and fake accounts. Do not give your credit card or financial information to anyone....
            
            ➡️ Giveaway ends on Sunday 30th of July, 12:00AM CET.
            ➡️ Find the T&C’s in Canyon’s link in bio. Giveaway bike will come with Pirelli Scorpions and a single crown fork.</p>
    </div>

    <button onclick="giveawayDetails()">
        I WANT TO KNOW MORE
        <svg xmlns="http://www.w3.org/2000/svg" width="11.22" height="6.11" viewBox="0 0 11.22 6.11">
            <path id="Path_7" data-name="Path 7" d="M1031.509,8689l4.9,4.9,4.9-4.9" transform="translate(-1030.802 -8688.293)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
          </svg>          
    </button>
</div>

<div id="mini_about" class="section">
    
    <h1>MORE THAN JUST A BRAND - IT'S A LIFE STYLE
    </h1>
    
    <p>[SICK!] Contrary to the real meaning of the word, SICK is a compliment.Especially in sports, the word is often used to describe something cool or badass.</p>
    <div id="image" align="right">
        <img src="{% static 'img/wallpapers/group.webp' %}" alt="">
    </div>
    
    
</div>

<div id="youtube" class="section">
    <img src="{% static 'img/logo/youtube.png' %}" alt="Youtube.com" id="youtube_logo">
    <div id="flex">
        <div id="sick_youtube">
            <img src="{% static 'img/logo/sick.jpg' %}" alt="Sick Series">
            <div>
                <h2>SICK!</h2>
                <p>@sickworldwide - 128 videos</p>
                <div class="subscriber">{{ subs }} <span>subscribers</span></div>
            </div>
        </div>
        <div>
        <div id="views"><p>{{ views }} views</p></div>
        <a href="" id="main_link">CHECK OUT CHANNEL / VIDEOS</a>
    </div>
    </div>
    <div id="big_wallpaper">
        <img src="{% static 'img/wallpapers/youtube.webp' %}" alt="">
    </div>
</div>

<div id="lookbooks" class="section">
    <div id="flex">
        <h1>LOOK BOOK</h1>
        <p>Unleash Your Freeride Adventure</p>
        <div id="tabs" class="mobile_only">
            <ul>
                {% for lookbook in lookbooks %}
                    <li{% if forloop.first %} class="active"{% endif %}><div id="liststyle"></div><p>{{ lookbook.name }}</p></li>
                {% endfor %}       
            </ul>
            <button>SHOW ALL</button>
        </div>
    </div>
    <div id="background">
        <div id="tabs" class="pc_only">
            <ul>
                {% for lookbook in lookbooks %}
                    <li {% if forloop.first %}class="active"{% endif %}><div id="shaderLeft"></div><div id="liststyle"></div><p>{{ lookbook.name }}</p><div id="shader"></div></li>
                {% endfor %}       
            </ul>
            <button>SHOW ALL</button>
            
        </div>
        <p id="date">
            März 31, 2023
        </p>
        <div id="parent_container">
            <div id="container">
                <div id="bigGrid">
                    <div id="image" class="landscape">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.0 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image" class="extra">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.1 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image" class="extra">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.2 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                </div>
                <div id="rest">
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.3 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.2 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="image">   
                        <div id="skeleton_anim"></div>
                        {% for image in lookbook_images.1 %}
                            <img src="" data-src="{{ image }}" class="img-{{ forloop.counter }}">
                        {% endfor %}
                    </div>
                    <div id="action">
                        <p>DETAILS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for lookbook in lookbooks %}
    {% if not forloop.last %}
        <div class="fake_lookbook"></div>
    {% endif %}
{% endfor %}
<div id="log"></div>

<div id="newsletter" class="section">
    <div id="content">
        <p>Be part of the exclusive Sick Members Club and receive regular updates on releases, products and backstage reports!</p>
        <div id="email" class="border-box">
            <input type="text" id="email_input" placeholder = "EMAIL">
        </div>
        <button id="email_submit" disabled>SIGN UP</button>
    </div>
</div>

<div id="footer" class="section">
    <div id="flex">
        <div id="btt" onclick="backtotop()">
            <svg xmlns="http://www.w3.org/2000/svg" width="186.44" height="380.604" viewBox="0 0 186.44 380.604">
                <g id="Group_33" data-name="Group 33" transform="translate(-1341.394 -7661.599)">
                  <path id="Path_38" data-name="Path 38" d="M5416,10542.462V10244.9" transform="translate(-3980 -2507.759)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="15"/>
                  <path id="Path_39" data-name="Path 39" d="M5332,10289.472l82.614-82.613,82.613,82.613" transform="translate(-3980 -2537.759)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                </g>
              </svg>
              
            <p>Bike Back To The Top</p>
            <div id="bttBackground"></div>
        </div>
        <div id="links">
            <ul>
                <li>Contact</li>
                <li>Fit Finder</li>
                <li>Shipping And Returns</li>
                <li>About This Website</li>
                <li>Terms And Conditions</li>
                <li>Privacy</li>
            </ul>
        </div>
        <div id="social">
            <a href=""><img src="{% static 'img/icon/social/instagram.png' %}" alt=""><p>@sick_series</p></a>
            <a href=""><img src="{% static 'img/icon/social/facebook.png' %}" alt=""><p>@sickseries</p></a>
            <a href=""><img src="{% static 'img/icon/social/youtube.png' %}" alt=""><p>@SICK!</p></a>
            <a href=""><img src="{% static 'img/icon/social/vimeo.png' %}" alt=""><p>CLICK TO CHECK OUT MOVIES</p></a>
        </div>
    </div>
    <p id="copyright">© 2023 Sick Series</p>
</div>

<div id="backtotop_portal" >
    <div id="banner">
        <div id="flex">
            <div id="flex">
                <a href="/"><img src="{% static 'img/main_logo.webp' %}" id="main_logo"></a>
                <div id="search" class="pc_only">
                    <form action="/products/" method="GET">
                        <input type="text" name="s" placeholder="SEARCH" onfocusout="autufillOff()">
                        <button type="submit"><img src="{% static 'img/icon/search.png' %}" alt=""></button>
                    </form>
                </div>   
            </div>
            <div id="autocomplete" class="pc_only">
                <div id="shade">
                    <div id="thumbnail">

                    </div>
                    <ul>
                        <a href="" id="report">Report predictions</a>
                    </ul>
                </div>
            </div>  
        </div>
        <div id="nav">
            <div id="background"></div>
            <div id="content">
                <div id="pcmenu" class="pc_only" onclick="menu()">
                    <p>Categories</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.155 11.577">
                        <path id="Path_1" data-name="Path 1" d="M1728.231,49.5l9.163,9.163,9.163-9.163" transform="translate(-1726.817 -48.089)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                </div>
                <div id="twins">
                    <p id="cart_qty">
                        {% with total_qty=cart|length %}
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% endif %}
                        {% endwith %}
                    </p>
                    <img id="cart" onclick="cart()" src="{% static 'img/icon/cart.png' %}">
                    <div id="profile" onclick="profile()" {% if user.is_authenticated %}class="logged"{% endif %}>
                        {% if user.is_authenticated %}
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div id="menu" onclick="menu()" class="mobile_only">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="menu_slider">
                <div id="slide">
                    <div id="menu_box" class="slide pc_only">
                        <div id="search" class="mobile_only">
                            <form action="/products/" method="GET">
                                <input type="text" name="s" placeholder="SEARCH" onfocusout="autufillOff()">
                                <button type="submit"><img src="{% static 'img/icon/search.png' %}" alt=""></button>
                            </form>
                            <div id="autocomplete">
                                <ul>
                                </ul>
                            </div>
                        </div> 
                        <ul>
                            <li>Alle Produkte</li>
                            {% for cat in category %}
                                <a href="/products/?c={{ cat.id }}"><li>{{ cat }}</li></a>
                            {% endfor %}  
                            <li>Sick Members Club</li>
                            <li>Service</li>
                            <li>Movies</li>
                        </ul>
                        <div id="social">
                            <div id="icons">
                                <a href="">
                                    <img src="{% static 'img/icon/social/instagram.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/facebook.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/youtube.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/vimeo.png' %}">
                                </a>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="233.809" height="12.035" viewBox="0 0 233.809 12.035">
                                <g id="Group_11" data-name="Group 11" transform="translate(0.5 0.692)">
                                <line id="Line_1" data-name="Line 1" x1="232.408" transform="translate(0.402 5.37)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                                <path id="Path_2" data-name="Path 2" d="M293.848,1670.227l-8.148,5.325,8.148,5.325" transform="translate(-285.699 -1670.227)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                            </svg>
                        </div>
                    </div>

                    <div id="cart" class="slide">
                        <div id="title">
                            <h2>Your Cart</h2>
                            <div id="line"></div>
                            <h3>3 Items</h3>
                        </div>
                        <div id="the_cart">
                            {% for item in cart %}
                            {% with product=item.product %}
                                <div id="item">
                                    <div id="qty">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="inc" width="12.434" height="7.217" viewBox="0 0 12.434 7.217">
                                            <path id="Path_10" data-name="Path 10" d="M8901.666,2082.484l4.8-4.8,4.8,4.8" transform="translate(-8900.252 -2076.681)" fill="none" stroke="#43d8c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                            </svg>
                                        <input type="number" value="{{ item.qty }}" min="1">                        
                                        <svg xmlns="http://www.w3.org/2000/svg" class="dec" width="12.434" height="7.217" viewBox="0 0 12.434 7.217">
                                            <path id="Path_9" data-name="Path 9" d="M8901.666,2077.681l4.8,4.8,4.8-4.8" transform="translate(-8900.252 -2076.267)" fill="none" stroke="#43d8c9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                            </svg>    
                                    </div>
                                    <div id="image" class="image_skeleton">
                                        <div id="skeleton_anim"></div>
                                    {% comment %} {% for image in product.product_images.all %}
                                        <img src="" data-src="{{ image.image.url }}">
                                    {% endfor %} {% endcomment %}
                                    <img src="{{ product.product_images.first.image.url }}" data-src="{{ product.product_images.first.image.url }}">

                                    </div>
                                    <div id="context">
                                        <h2>{{ product.name }}</h2>
                                        <h3>{{ product.price }} £</h3>
                                    </div>
                                    <div id="delete" onclick>
                                        <img src="{% static 'img/icon/delete.png' %}">
                                    </div>
                                </div>
                            {% endwith %}
                            {% endfor %}
                        </div>
                        <div id="checkout" class="mini">
                            <h1>Totals: 69.99 £</h1>
                            <p>
                                Discount codes, shipping costs and taxes are calculated at checkout.
                            </p>
                            <a href="/checkout">
                                <button>TO CHECKOUT</button>
                            </a>
                        </div>
                    </div>
                    
                    <div id="profile_detail" class="slide">
                        {% if user.is_authenticated %}
                        <div id="flex">
                            <div id="profile_image">
                                <img src="{{ user.profile_picture.url }}">
                            </div>
                            <div>
                                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <a href="/account/dashboard">
                            <button id="dash">Profile Dashboard</button>
                        </a>
                        <a href="/account/logout">
                            <button>Sign out</button>
                        </a>
                        <div id="profile_activities">
                            <img src="{% static 'img/icon/graph.png' %}">
                            <p>Summary update of your orders will be displayed here</p>
                        </div>
                        {% else %}
                            <a href="/account/login"><button>Login</button></a>
                            <a href="/account/signup"><button>Create an account</button></a>
                        {% endif %}
                    </div>

                    <div id="menu_box" class="slide mobile_only">
                        <div id="search" class="mobile_only">
                            <form action="/products/" method="GET">
                                <input type="text" name="s" placeholder="SEARCH" onfocusout="autufillOff()">
                                <button type="submit"><img src="{% static 'img/icon/search.png' %}" alt=""></button>
                            </form>
                            <div id="autocomplete">
                                <ul>
                                </ul>
                            </div>
                        </div> 
                        <ul>
                            <li>Alle Produkte</li>
                            {% for cat in category %}
                                <a href="/products/?c={{ cat.id }}"><li>{{ cat }}</li></a>
                            {% endfor %}  
                            <li>Sick Members Club</li>
                            <li>Service</li>
                            <li>Movies</li>
                        </ul>
                        <div id="social">
                            <div id="icons">
                                <a href="">
                                    <img src="{% static 'img/icon/social/instagram.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/facebook.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/youtube.png' %}">
                                </a>
                                <a href="">
                                    <img src="{% static 'img/icon/social/vimeo.png' %}">
                                </a>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="233.809" height="12.035" viewBox="0 0 233.809 12.035">
                                <g id="Group_11" data-name="Group 11" transform="translate(0.5 0.692)">
                                <line id="Line_1" data-name="Line 1" x1="232.408" transform="translate(0.402 5.37)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                                <path id="Path_2" data-name="Path 2" d="M293.848,1670.227l-8.148,5.325,8.148,5.325" transform="translate(-285.699 -1670.227)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div id="landing" class="sticky">
        <div id="first_slice" class="portal">
            <div id="lefty" class="pc_only">
                <div id="grid_type" class="pc_only">
                    <div id="normal" onclick='grid_type()'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g id="Group_17" data-name="Group 17" transform="translate(-278 -130)">
                              <g id="Rectangle_172" data-name="Rectangle 172" transform="translate(278 130)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="9" rx="3" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                              </g>
                              <g id="Rectangle_173" data-name="Rectangle 173" transform="translate(278 141)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="9" rx="3" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                              </g>
                              <g id="Rectangle_174" data-name="Rectangle 174" transform="translate(289 141)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="9" rx="3" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                              </g>
                              <g id="Rectangle_175" data-name="Rectangle 175" transform="translate(289 130)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="9" rx="3" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="6" rx="1.5" fill="none"/>
                              </g>
                              <g id="Ellipse_15" data-name="Ellipse 15" transform="translate(282 134)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                                <circle cx="0.5" cy="0.5" fill="none"/>
                              </g>
                              <g id="Ellipse_16" data-name="Ellipse 16" transform="translate(293 134)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                                <circle cx="0.5" cy="0.5" fill="none"/>
                              </g>
                              <g id="Ellipse_17" data-name="Ellipse 17" transform="translate(282 145)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                                <circle cx="0.5" cy="0.5" fill="none"/>
                              </g>
                              <g id="Ellipse_18" data-name="Ellipse 18" transform="translate(293 145)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <circle cx="0.5" cy="0.5" r="0.5" stroke="none"/>
                                <circle cx="0.5" cy="0.5" fill="none"/>
                              </g>
                            </g>
                          </svg>
                          
                    </div>
                    <div id="narrow" onclick='grid_type()'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g id="Group_18" data-name="Group 18" transform="translate(-278 -157)">
                              <g id="Rectangle_176" data-name="Rectangle 176" transform="translate(278 157)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="20" rx="4" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="17" rx="2.5" fill="none"/>
                              </g>
                              <g id="Rectangle_179" data-name="Rectangle 179" transform="translate(289 157)" fill="none" stroke="#100303" stroke-width="3" opacity="0.79">
                                <rect width="9" height="20" rx="4" stroke="none"/>
                                <rect x="1.5" y="1.5" width="6" height="17" rx="2.5" fill="none"/>
                              </g>
                              <g id="Rectangle_180" data-name="Rectangle 180" transform="translate(282 163)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <rect width="1" height="8" rx="0.5" stroke="none"/>
                                <rect x="0.5" y="0.5" height="7" fill="none"/>
                              </g>
                              <g id="Rectangle_181" data-name="Rectangle 181" transform="translate(293 163)" fill="#707070" stroke="#100303" stroke-width="1" opacity="0.79">
                                <rect width="1" height="8" rx="0.5" stroke="none"/>
                                <rect x="0.5" y="0.5" height="7" fill="none"/>
                              </g>
                            </g>
                          </svg>                      
                    </div>
                </div>
                <p>Join The Crew</p>
                <button>ALL PRODUCTS</button>
            </div>
            <h1>SICK</h1>
            <div id="mirror" class="first_slice">
                {% if mobile %}
                    <img src="{% static 'img/wallpapers/firstwallpaper_mobile.webp' %}" id="wallpaper">
                {% else %}
                    <img src="{% static 'img/wallpapers/firstwallpaper_pc.webp' %}" id="wallpaper">
                {% endif %}

            </div>  
        </div>
        <div id="second_slice">
            <h1>SERIES</h1>
            <div id="scroll" class="pc_only">
                <p>SCROLL</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
                    <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
                    <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                    <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                </svg>              
            </div>   
            <div id="mirror">
                <img src="{% static 'img/wallpapers/secondwallpaper.webp' %}">
            </div>   
        </div>
        <div id="scroll" class="mobile_only">
            <p>SCROLL</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="31.823" height="7.419" viewBox="0 0 31.823 7.419">
                <g id="Group_1" data-name="Group 1" transform="translate(531.472 -253) rotate(90)">
                <line id="Line_1" data-name="Line 1" x2="6.289" transform="translate(253.5 515.689)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
                <path id="Path_2" data-name="Path 2" d="M285.7,1670.226l2.642,15.334-2.642,15.334" transform="translate(-28.422 -1170)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
            </svg>              
        </div>  
    </div>
</div>

<script>
    const days = document.querySelector('#giveaway #timer #day')
    const hr = document.querySelector('#giveaway #timer #hour')
    const min = document.querySelector('#giveaway #timer #min')
    const sec = document.querySelector('#giveaway #timer #sec')

    var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        day.innerHTML = days
        hr.innerHTML = hours
        min.innerHTML = minutes
        sec.innerHTML = seconds
            
       
    }, 1000);
</script>

{% endblock %}