{% extends '../base.html' %}
{% load static %}

{% block title %}Sick-Series{% endblock %}

{% block content %}
<div id="landing" class="loaded product_page">
<div id="first_slice">
{% if result %}
<div id="all_products_tab">
    
    {% if searched %}
        <p id="result" class="mobile_only">Results for "{{ searched_for }}"</p>
    {% endif %}
    <button class="mobile_only">
        <div id="content" onclick="togoptions()" class="swapSvg">
            <ul class="notthis">
                <li id="slide_able">Options</li>
                <li id="slide_able">Back</li>
            </ul>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                <path id="Path_26" data-name="Path 26" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>  
        </div>
        <div id="options">
            <div id="search_product">
                <input type="text" placeholder="Search among products below...">
                <div id="button"><img src="{% static 'img/icon/search.png' %}"></div>
            </div>
            <ul>
                <li>
                    <div id="flex">
                        Filter by
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                            <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>  
                    </div>
                    <ul id="content">
                        <li onclick="setting([0,0], undefined, undefined)">
                            <div id="flex" class="text_left">None</div>
                        </li>
                        <li>
                            <div id="flex">
                            Price
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                                <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>  
                            </div>
                            <ul>
                                <li onclick="setting([1,[0, 25]], undefined, undefined)">0 £ - 25 £</li>
                                <li onclick="setting([1,[25, 50]], undefined, undefined)">25 £ - 50 £</li>
                                <li onclick="setting([1,[50, 100]], undefined, undefined)">50 £ - 100 £</li>
                                <li onclick="setting([1,[100, 69000]], undefined, undefined)">100 £ - MAX £</li>
                            </ul>
                        </li>
                        <li>
                            <div id="flex">
                                Size
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                                    <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </svg>  
                            </div>
                            <ul>
                                <li>140</li>
                                <li>152</li>
                                <li>164</li>
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                                <li>XXL</li>
                            </ul>
                        </li>
                    </ul>                   
                </li>
                <li>
                    <div id="flex">
                        Sort by
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                            <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg> 
                    </div> 
                    <ul id="content" class="no_flex text_left">
                        <li>Name</li>
                        <li>Price</li>
                        <li class="hold">Added Date</li>
                        <li>Size</li>
                        <hr>
                        <li class="hold">
                            <div id="flex">
                                Accending
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.155" viewBox="0 0 21.155 11.666">
                                    <g id="Group_19" data-name="Group 19" transform="translate(-5594.817 -1093)">
                                      <path id="Path_28" data-name="Path 28" d="M1728.231,49.5l9.163,9.163,9.163-9.163" transform="translate(3868 1045)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                      <g id="Ellipse_56" data-name="Ellipse 56" transform="translate(5604 1093)" fill="#100303" stroke="#100303" stroke-width="1">
                                        <circle cx="1.5" cy="1.5" r="1.5" stroke="none"/>
                                        <circle cx="1.5" cy="1.5" r="1" fill="none"/>
                                      </g>
                                    </g>
                                  </svg>                              
                            </div>
                        </li>
                        <li>
                            <div id="flex">
                                Decending
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.155" viewBox="0 0 21.155 11.666">
                                    <g id="Group_19" data-name="Group 19" transform="translate(1.415 1)">
                                      <path id="Path_28" data-name="Path 28" d="M1728.231,58.666l9.163-9.163,9.163,9.163" transform="translate(-1728.231 -49.503)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                      <g id="Ellipse_56" data-name="Ellipse 56" transform="translate(7.769 7.666)" fill="#100303" stroke="#100303" stroke-width="1">
                                        <circle cx="1.5" cy="1.5" r="1.5" stroke="none"/>
                                        <circle cx="1.5" cy="1.5" r="1" fill="none"/>
                                      </g>
                                    </g>
                                  </svg>
                                                             
                            </div>
                        </li>
                    </ul>                   
                </li>
            </ul>
        </div>
    </button>
    <div id="tabs" class="pc_only">
        <ul>
            {% if searched %}
            <li class="native dwidth">
                <p id="result">Results for "{{ searched_for }}"</p>
            </li>
            {% endif %}
            <li id="filter" onclick="togFilter()">
                <div id="flex">
                    Filter by
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                        <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg>  
                </div>
                <ul id="content">
                    
                    <li onclick="setting([0,0], undefined, undefined)">
                        <div id="flex" class="text_left">
                        None
                        </div>
                    </li>
                    <li>
                        <div id="flex">
                        Price
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                            <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>  
                        </div>
                        <ul>
                            <li onclick="setting([1,[0, 25]], undefined, undefined)">0 £ - 25 £</li>
                            <li onclick="setting([1,[25, 50]], undefined, undefined)">25 £ - 50 £</li>
                            <li onclick="setting([1,[50, 100]], undefined, undefined)">50 £ - 100 £</li>
                            <li onclick="setting([1,[100, 69000]], undefined, undefined)">100 £ - MAX £</li>
                        </ul>
                    </li>
                    <li>
                        <div id="flex">
                            Size
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                                <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>  
                        </div>
                        <ul>
                            <li>140</li>
                            <li>152</li>
                            <li>164</li>
                            <li>S</li>
                            <li>M</li>
                            <li>L</li>
                            <li>XL</li>
                            <li>XXL</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="sort" onclick="togSort()">
                <div id="flex">
                    Sort by
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                        <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg> 
                </div> 
                <ul id="content" class="no_flex">
                    <li>Name</li>
                    <li>Price</li>
                    <li class="hold">Added Date</li>
                    <li>Size</li>
                    <hr>
                    <li class="hold">
                        <div id="flex">
                            Accending
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.155" viewBox="0 0 21.155 11.666">
                                <g id="Group_19" data-name="Group 19" transform="translate(-5594.817 -1093)">
                                  <path id="Path_28" data-name="Path 28" d="M1728.231,49.5l9.163,9.163,9.163-9.163" transform="translate(3868 1045)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                  <g id="Ellipse_56" data-name="Ellipse 56" transform="translate(5604 1093)" fill="#100303" stroke="#100303" stroke-width="1">
                                    <circle cx="1.5" cy="1.5" r="1.5" stroke="none"/>
                                    <circle cx="1.5" cy="1.5" r="1" fill="none"/>
                                  </g>
                                </g>
                              </svg>                              
                        </div>
                    </li>
                    <li>
                        <div id="flex">
                            Decending
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.155" viewBox="0 0 21.155 11.666">
                                <g id="Group_19" data-name="Group 19" transform="translate(1.415 1)">
                                  <path id="Path_28" data-name="Path 28" d="M1728.231,58.666l9.163-9.163,9.163,9.163" transform="translate(-1728.231 -49.503)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                  <g id="Ellipse_56" data-name="Ellipse 56" transform="translate(7.769 7.666)" fill="#100303" stroke="#100303" stroke-width="1">
                                    <circle cx="1.5" cy="1.5" r="1.5" stroke="none"/>
                                    <circle cx="1.5" cy="1.5" r="1" fill="none"/>
                                  </g>
                                </g>
                              </svg>
                                                         
                        </div>
                    </li>
                </ul>
            </li>
            <li class="native">
                <div id="search_product">
                    <input type="text" oninput="miniSearch()" name="search" id="mini_search" placeholder="Search among products below...">
                    {% comment %} <div onclick="miniSearch()" id="button"><img src="{% static 'img/icon/search.png' %}"></div> {% endcomment %}
                </div>
            </li>
        </ul>
        <div class="custom-select" style="width:200px;">
            <select>
                <option >All</option>

                <option >All</option>
                {% for cat in category %}
                    <option>{{ cat }}</option>
                {% endfor %}  
            </select>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg> 
        </div>
        {% comment %} <ul id="category">
            <li>
                All
                <svg xmlns="http://www.w3.org/2000/svg" width="19.014" height="9.022" viewBox="0 0 19.014 9.022">
                    <path id="Path_23" data-name="Path 23" d="M12087.246,3627.028l8.1,6.615,8.1-6.615" transform="translate(-12085.839 -3625.621)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>  
                             
            </li>
            {% for cat in category %}
                <li>{{ cat }}</li>
            {% endfor %}  
        </ul> {% endcomment %}
    </div>
</div>

<div id="mirror" class="first_slice products_page">
    {% if mobile %}
        <img src="{% static 'img/wallpapers/firstwallpaper_mobile.webp' %}" id="wallpaper">
    {% else %}
        <img src="{% static 'img/wallpapers/firstwallpaper_pc.webp' %}" id="wallpaper">
    {% endif %}
    <div id="scroll_frame">
        <div id="products">
            {% for product in products %}
            <div id="click_event" style="pointer-events: all;" onclick="portalevent({{ product.id }})" data-name="{{ product.name }}" data-cat="{{ product.category }}" data-date="{{ product. }}" data-price="{{ product.price }}">
                    <div id="shade">
                        <div id="child_shade">
                            <div id="product">
                                <div id="images" class="image_skeleton">
                                    <div id="skeleton_anim"></div>
                                    {% for image in product.product_images.all %}
                                        <img src="" data-src="{{ image.image.url }}">
                                    {% endfor %}
                                </div>
                                
                                <h2>
                                    <div class="name_skeleton"></div>
                                    <div id="skeleton_anim"></div>
                                    <p>{{ product.name }}</p>
                                </h2>
                                <h3>
                                    <div class="price_skeleton"></div>
                                    <div id="skeleton_anim"></div>
                                    <p>{{ product.price }}</p>
                                </h3>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 
{% else %}
{% if searched %}
    No Results for you search
{% else %}
    Something went wrong
{% endif %}
{% endif %}
</div>
</div>

<script src="{% static 'script/filter.js' %}"></script>
{% endblock %}