{% extends '../base.html' %}
{% load static %}

{% block title %}Sick-Series | Underwork{% endblock %}

{% block content %}

<div id="main_underwork" class="section">
    <div id="text">
        <h1>Sorry, This section of our website is under work</h1>
        <p>It will be up and running shortly</p>
    </div>
    <button id="back_button" onclick="window.history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.643 10.018">
            <g id="Group_16" data-name="Group 16" transform="translate(0.5 0.703)">
              <line id="Line_16" data-name="Line 16" x2="52.169" transform="translate(0.474 4.404)" fill="none" stroke="#100303" stroke-linecap="round" stroke-width="1"/>
              <path id="Path_13" data-name="Path 13" d="M1979.148,6309.308l-5.357,4.306,5.357,4.306" transform="translate(-1973.792 -6309.308)" fill="none" stroke="#100303" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            </g>
        </svg>
        BACK
    </button>
</div>

{% endblock %}